//
// RTL Theme styling
//

html[dir="rtl"] {
  @import "rtl-spacing";
  @import "rtl-components";

  .customizer-btn {
    right: unset;
    left: 20px;
  }

  body {
    text-align: right;
    direction: rtl;
  }

  .topbar {
    left: 0;
    background: linear-gradient(
      to left,
      var(--bs-primary) 0,
      var(--bs-secondary) 100%
    );
    .navbar {
      .navbar-nav {
        .dropdown-menu {
          left: unset;
          right: 0;
        }
        .nav-item {
          &.dropdown {
            .dropdown-menu-end {
              right: auto;
              left: 0;
            }
          }
        }
      }
    }
  }

  .nav-logo {
    right: $sidebar-width-mini;
    left: unset;
  }

  // sidebar
  .sidebar-nav ul .sidebar-item .sidebar-link {
    border-left: 0;
    border-right: 3px solid transparent;
  }

  .sidebar-nav ul .sidebar-item.selected > .sidebar-link,
  .sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
  .sidebar-nav ul .sidebar-item > .sidebar-link.active {
    border-left: 0;
    border-right: 3px solid var(--bs-primary);
  }

  .sidebar-nav ul .sidebar-item {
    .first-level .sidebar-item .sidebar-link {
      border-right: 0 !important;
      padding: 12px 58px 12px 22px;
      &.active {
        border-right: 0 !important;
      }
    }
  }

  .sidebar-nav {
    ul {
      .sidebar-item {
        .two-level .sidebar-item .sidebar-link {
          padding: 12px 70px 12px 22px;
        }

        .three-level .sidebar-item .sidebar-link {
          padding: 12px 85px 12px 22px;
        }
      }
    }
  }

  .logo-img img {
    transform: scaleX(-1);
  }

  .toast-onload {
    left: 24px;
    right: unset;
  }

  .mega-dd-bg {
    left: 0;
    right: unset;
  }

  .danger-card,
  .secondary-card,
  .success-card,
  .has-warning .form-control-warning,
  .has-success .form-control-success,
  .has-danger .form-control-danger {
    background-position: top left;
  }

  .simplebar-track.simplebar-vertical {
    left: 0;
    right: auto;
  }

  // dashboard
  .stylish-table tbody tr {
    border-left: 0;
    border-right: 2px solid transparent;
    &:hover,
    &.active {
      border-left: 0;
      border-right: 2px solid var(--bs-primary);
    }
  }

  .uncover-exciting-enhancements::after {
    transform: scaleX(-1);
  }

  .comment-widgets::before {
    left: unset;
    right: 28px;
  }

  .profiletimeline {
    padding-right: 40px;
    padding-left: 0;
    margin: 10px 30px 0 10px;
  }

  .steamline {
    margin-left: 0;
    margin-right: 24px;
    border-right: 1px solid var(--bs-border-color);
    border-left: 0;
    .sl-left {
      margin-right: -24px;
      margin-left: 24px;
    }
  }

  .wizard-content .wizard > .steps > ul > li:before {
    left: unset;
    right: 0;
  }

  .wizard-content .wizard > .steps > ul > li:after {
    left: 0;
    right: unset;
  }

  //   sidebar

  .dark-logo,
  .light-logo {
    transform: scaleX(-1);
  }

  .sidebar-nav .has-arrow::after {
    left: 16px;
    right: unset;
  }

  .dropdown-menu,
  .accordion-button {
    text-align: right;
  }

  .minicolors-theme-bootstrap.minicolors-position-left > .minicolors-swatch {
    right: 5px;
    left: unset;
  }

  .minicolors-theme-bootstrap.minicolors-position-left .minicolors-input {
    padding-right: 44px;
    padding-left: 12px;
  }

  .btn.minus {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-right: 1px solid !important;
    border-color: var(--bs-border-color) !important;
  }

  .btn.add {
    border-left: 1px solid !important;
    border-top-left-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: var(--bs-border-color) !important;
  }

  .make-social-media {
    left: 0;
    right: unset;

    img {
      transform: scaleX(-1);
    }
  }

  .start-0 {
    right: 0;
    left: unset !important;
  }

  //
  // for authentication
  //
  .circle-top {
    position: absolute;
    right: -14%;
    left: unset;
  }

  .circle-bottom {
    position: absolute;
    left: -14%;
    right: unset;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow,
  .select2-container--classic
    .select2-selection--single
    .select2-selection__arrow {
    left: -20px;
    right: unset;
  }

  .wizard > .steps > ul > li {
    float: right;
  }

  .wizard.wizard-circle {
    > .steps > ul > li {
      float: none;
    }
  }

  .wizard-content .wizard > .steps > ul > li:before {
    left: unset;
    right: 0;
  }

  .wizard-content .wizard > .steps > ul > li:after {
    right: unset;
    left: 0;
  }

  .timeline-widget {
    .timeline-item {
      .timeline-time {
        padding: 6px 0 6px 16px;
      }
    }
  }
}

// Above Desktop Screen
@include media-breakpoint-up(xl) {
  html[dir="rtl"][data-layout="vertical"] {
    .page-wrapper {
      margin-right: calc(#{$sidebar-width-full} + #{$sidebar-width-mini});
      margin-left: 0;
    }

    [data-sidebartype="mini-sidebar"] {
      .page-wrapper {
        margin-right: $sidebar-width-mini;
        margin-left: 0;
      }
    }
  }

  html[dir="rtl"] {
    &[data-layout="vertical"] {
      [data-sidebartype="mini-sidebar"] {
        .page-wrapper {
          margin-right: $sidebar-width-mini;
          margin-left: 0;
        }
        .left-sidebar:hover {
          .nav-small-cap {
            text-align: right;
          }

          .sidebar-nav {
            ul {
              .sidebar-item {
                .two-level .sidebar-item .sidebar-link {
                  padding: 12px 70px 12px 22px;
                }

                .three-level .sidebar-item .sidebar-link {
                  padding: 12px 85px 12px 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  html[dir="rtl"][data-layout="vertical"] {
    .page-wrapper {
      margin-right: $sidebar-width-default;
      margin-left: 0;
    }
  }
}

// Below Desktop Screen
@include media-breakpoint-down(xl) {
  html[dir="rtl"] {
    .close-btn {
      left: -241px;
      right: unset;
    }
    .show-sidebar {
      .side-mini-panel {
        right: 0;
        left: unset;
      }
    }
  }
}

// Below large screen
@include media-breakpoint-down(xl) {
  html[dir="rtl"] {
    &[data-layout="vertical"] {
      [data-sidebartype="full"],
      [data-sidebartype="mini-sidebar"] {
        .left-sidebar {
          right: -$sidebar-width-default;
          left: unset;
        }
      }

      #main-wrapper.show-sidebar {
        .left-sidebar {
          right: 0;
          left: unset;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  html[dir="rtl"] {
    &[data-layout="vertical"] {
      [data-sidebartype="mini-sidebar"] {
        .sidebar-nav ul .sidebar-item .sidebar-link {
          padding: 16px;
        }
        .left-sidebar {
          &:hover {
            .sidebar-nav .first-level .sidebar-item .sidebar-link {
              padding: 12px 58px 12px 22px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  html[dir="rtl"] {
    .reverse-mode .left-part {
      right: inherit;
    }
  }
}

@include media-breakpoint-down(md) {
  html[dir="rtl"] {
    .right-part {
      margin-right: 0;
    }
  }
}
