//
// Charts index & index2 [common]
//
.revenue {
  position: relative;

  .ct-series-a .ct-line {
      stroke: var(--bs-info);
      stroke-width: 1px;
  }

  .ct-series-a .ct-point {
      stroke: var(--bs-info);
      stroke-width: 5px;
  }

  .ct-series-b .ct-line {
      stroke: var(--bs-success);
      stroke-width: 1px;
  }

  .ct-series-b .ct-point {
      stroke: var(--bs-success);
      stroke-width: 5px;
  }

  .ct-series-a .ct-area {
      fill: var(--bs-info);
      fill-opacity: 0.2;
  }

  .ct-series-b .ct-area {
      fill: var(--bs-success);
      fill-opacity: 0.2;
  }
}

//
// Index & Index5 [common]
//
.round-overlap {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0;
  right: 0;
  top: 107px;
  margin: 0 auto;
  border: 2px solid var(--bs-border-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
      line-height: 150px;
  }
}

.sales-diff {
  position: relative;

  .ct-series-a .ct-slice-donut {
      stroke: var(--bs-success);
  }

  .ct-series-b .ct-slice-donut {
      stroke: var(--bs-light);
  }

  .ct-series-c .ct-slice-donut {
      stroke: var(--bs-info);
  }
}

//
// project of the month [common]
//
.stylish-table {
  tbody tr {
    border-left: 2px solid transparent;

    &:hover,
    &.active {
      border-left: 2px solid var(--bs-primary);
    }
  }

  tbody td {
    small {
      line-height: 12px;
    }
  }
}


.bg-opacity-05{
  --bs-bg-opacity: 5%;
}

/*******************/
/*Weather Report widgets*/
/*******************/
.widget-weather-report {
  background: linear-gradient(153deg, #044367 0%, #003452 100.46%);

  .sunrise-bg {
    border: 1.5px solid var(--bs-primary);
    background: linear-gradient(320deg, rgba(255, 255, 255, 0.05) -6.14%, rgba(255, 255, 255, 0.09) 99.88%);
  }
}


.toast-onload {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 999;
  max-width: 294px;
  width: 100%;
  transition: all 0.5s;
}

