//
/*Comment widgets*/
//

.comment-widgets {
  &::before {
    content: "";
    height: 100%;
    display: block;
    width: 1px;
    background: rgba(58, 63, 79, 0.08);
    position: absolute;
    left: 28px;
    z-index: revert-layer;
  }

  .comment-row {
    background: transparent;

    &:hover,
    &.active {
      --bs-dropdown-link-hover-bg: #f6f9fc; // css variable
    }
  }
}

.comment-text {
  .comment-details {
    overflow: hidden;
    display: block;
    max-height: 4.4rem;
    -webkit-line-clamp: 2;
    display: flex;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }
  &:hover .comment-footer,
  &.active .comment-footer {
    .action-icons {
      visibility: visible;
    }
  }
}

.comment-footer {
  .action-icons {
    visibility: hidden;

    a {
      color: var(--bs-secondary-color);

      &:hover,
      &.active {
        color: var(--bs-info);
      }
    }
  }
}

/*******************/
/*Chat widget*/
/*******************/
.chat-box {
  overflow: auto;
}

/*******************/
/*Chat widget*/
/*******************/

.chat-list {
  li {
    list-style: none;

    .chat-img {
      width: 44px;

      img {
        width: 44px;
      }
    }

    .chat-content {
      width: calc(100% - 140px);

      .message {
        padding: 8px 12px;
        border-radius: 8px;
        width: 100%;
        max-width: 300px;
      }
    }

    .chat-time {
      width: 80px;
      font-size: 13px;
    }

    &.odd {
      .chat-content {
        width: calc(100% - 90px);

        .message {
          border-top-right-radius: 5px;
          border-bottom-left-radius: 25px;
          padding: 15px 20px;
          border-top-left-radius: 25px;
          border-bottom-right-radius: 25px;
        }
      }

      .box {
        clear: both;
      }
    }

    &.odd + .odd {
      margin-top: 0px;
    }

    &.reverse {
      text-align: right;

      .chat-time {
        text-align: left;
      }

      .chat-content {
        padding-left: 0px;
        padding-right: 15px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .chat-list {
    li {
      .chat-content {
        width: calc(100% - 80px);
      }
    }
  }
}


//
/*To do widgets*/
//

.todo-list {
  li {
    .assignedto {
      li {
        margin-right: 2px;

        img {
          width: 30px;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .w-xs-100 {
    width: 100% !important;
  }
}

//
// Shop Style
//

.shop-part {
  .shop-filters {
    width: 250px;

    .by-colors {
      .shop-color-list {
        .shop-colors-item {
          width: 24px;
          height: 24px;

          &.shop-colors-1 {
            background-color: var(--bs-primary);
          }

          &.shop-colors-2 {
            background-color: var(--bs-secondary);
          }

          &.shop-colors-3 {
            background-color: var(--bs-danger);
          }

          &.shop-colors-4 {
            background-color: var(--bs-warning);
          }

          &.shop-colors-5 {
            background-color: var(--bs-success);
          }

          &.shop-colors-6 {
            background-color: $black;
          }

          &.shop-colors-7 {
            background-color: #ffc0cb;
          }
        }
      }
    }
  }
}

//
// for authentication
//
.circle-top {
  position: absolute;
  top: -33%;
  left: -14%;
  border: 120px solid #0b2947; // customize bg - no variable
  height: 700px;
  width: 700px;
  display: block;
  background: transparent;
  border-radius: 100%;
  z-index: 1;
}

.circle-bottom {
  position: absolute;
  bottom: -4%;
  right: 1%;
  height: 450px;
  width: 450px;
  display: block;
  background: transparent;
  z-index: 1;
  opacity: 0.5;
}

.border-transparent {
  border-color: var(--bs-card-bg) !important;
}

.auth-card {
  max-width: 460px !important;
}



/*******************/
/*Steam line widget*/
/*******************/
.steamline {
  position: relative;
  border-left: 1px solid var(--bs-border-color);
  margin-left: 24px;

  .sl-left {
    margin-left: -24px;
    z-index: 1;
    width: 48px;
    line-height: 48px;
    text-align: center;
    height: 48px;
    border-radius: 100%;
    color: $white;
    margin-right: 24px;
    flex-shrink: 0;

    img {
      max-width: 48px;
    }
  }
}

.steamline .sl-item {
  border-bottom: 1px solid var(--bs-border-color);
  padding: 20px 0;
  display: flex;

  &:last-child {
    border-bottom: none;
  }
}

.time-item {
  border-color: var(--bs-border-color);
  padding-bottom: 1px;
  position: relative;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    background-color: var(--bs-white);
    border-color: var(--bs-border-color);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: "";
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
  }
}

.time-item-item {
  &:after {
    content: " ";
    display: table;
  }
}

.item-info {
  margin-bottom: 15px;
  margin-left: 15px;

  p {
    margin-bottom: 10px !important;
  }
}



.profiletimeline {
  position: relative;
  padding-left: 40px;
  margin: 10px 10px 0 30px;
  border-left: 1px solid var(--bs-border-color);
  .sl-left {
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
    img {
      max-width: 40px;
    }
  }
}

.profiletimeline .sl-item {
  margin-top: 8px;
  display: flex;
  margin-bottom: 30px;
}

.profiletimeline .sl-date {
  font-size: 12px;
}

/*******************/
/*timeline widget*/
/*******************/
.timeline-widget {
  .timeline-item {
      min-height: 70px;

      .timeline-time {
          padding: 6px 16px 6px 0;
          min-width: 90px;
      }

      .timeline-badge-wrap {
          .timeline-badge {
              width: 12px;
              height: 12px;
              border-radius: 50px;
              background-color: transparent;
          }

          .timeline-badge-border {
              width: 1px;
              height: 100%;
              background-color: var(--bs-border-color);
          }
      }

      .timeline-desc {
          padding: 6px 16px;
      }

      .timeline-badge.badge-primary {
          border: 2px solid var(--bs-primary);
      }
  }
}

@include media-breakpoint-down(lg) {
  .w-xs-100 {
      width: 100% !important;
  }
}