// --------------------------------------------------
// Css Variables with class
// --------------------------------------------------

.card {
  --bs-card-title-color: rgba(255, 255, 255, 0.85);
  --bs-card-subtitle-color: rgba(255, 255, 255, 0.6);
  --bs-card-bg: #1a2537;
  --bs-card-box-shadow: none;
}

.table-primary {
  --bs-table-bg: #282459 !important;
}

.table-success {
  --bs-table-bg: #283b2f !important;
}

.table-info {
  --bs-table-bg: #3f7381 !important;
}

.table-warning {
  --bs-table-bg: #56513c !important;
}

.table-danger {
  --bs-table-bg: #74535d !important;
}

a,
.nav-link:hover,
.nav-link:focus {
  color: rgba(var(--bs-link-color-rgb), 0.85);
}

.link-dark,
.blockquote-footer {
  color: rgba(var(--bs-link-color-rgb), 0.85) !important;
}

.table {
  --bs-table-border-color: #313e54;
  --bs-table-bg: #1a2537;
}

.dropdown-menu {
  --bs-dropdown-bg: #1a2537;
  --bs-dropdown-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: #1a2537;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: #2a3851;
}

.accordion-item,
.accordion-item:focus {
  --bs-accordion-btn-color: #eaeff4;
  --bs-accordion-border-color: #333f55;
}

// --------------------------------------------------
// Font Colors
// --------------------------------------------------

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.select2-container--classic .select2-results__group,
.accordion-button:not(.collapsed),
.tox .tox-tbtn,
div:where(.swal2-container) .swal2-html-container,
.mce-content-body p {
  color: rgba(255, 255, 255, 0.85);
}

.tooltip-inner,
.text-dark,
.form-label,
.col-form-label,
.table > :not(caption) > * > *,
.dtp table.dtp-picker-days tr > td > a,
.dtp .dtp-picker-time > a,
.dtp table.dtp-picker-days tr > th,
.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before,
.noUi-tooltip {
  color: $body-color-dark !important;
}

.nav-tabs .nav-link,
.nav-pills .nav-link,
.breadcrumb-item + .breadcrumb-item::before {
  color: $link-color-dark;
}

.text-bg-light,
.bg-light,
.striped-rows .row:nth-child(odd),
.bg-hover-light-black:hover,
.list-group-item-action:hover,
.list-group-item-action:focus {
  color: var(--bs-card-title-color) !important;
}

// --------------------------------------------------
// Background Colors
// --------------------------------------------------
.body-wrapper, #main-wrapper {
  background: $dark-bg-variant !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.form-control:disabled,
.bg-white {
  background-color: $dark-bg-variant !important;
}

.nav-logo {
  background: $body-bg-dark !important;
}

.offcanvas,
.floating-labels .form-control {
  background-color: $body-bg-dark !important;
}


.text-bg-light,
.bg-light,
.striped-rows .row:nth-child(odd),
.bg-hover-light-black:hover,
.list-group-item-action:hover,
.list-group-item-action:focus {
  background-color: $dark-bg-variant !important;
}


// --------------------------------------------------
// Border Colors
// --------------------------------------------------
.border-white,
.floating-labels .form-control {
  border-color: $border-color-dark !important;
}

.form-check-input {
  border: 1px solid #57647a;
}

// ----------------------------------
// form components
// ----------------------------------

.form-select,
.form-select:focus,
.form-control,
.form-control:focus {
  border-color: $border-color-dark;
  color: $body-color-dark;
  background-color: $body-bg-dark;
}

.form-control:focus {
  border-color: var(--bs-primary) !important;
}

input::file-selector-button {
  background-color: $body-bg-dark;
  color: $body-color-dark;
}

.input-group-text {
  background-color: $light-bg-subtle-dark;
  border: var(--bs-table-border-color);
  color: $body-color-dark;
}

// ----------------------------------
// ui components
// ----------------------------------

.theme-tab {
  background-color: $body-bg-dark;

  .nav-item .nav-link.active {
    background-color: $light-bg-subtle-dark;
    color: $white;
  }
}
